@charset "UTF-8";
.detail {
  text-align: center;
  width: 800px;
  display: block;
  margin-left: auto;
  margin-right: auto; }
  .detail tbody {
    text-align: center; }
    .detail tbody .subtitle {
      margin-right: 20px;
      font-weight: bold;
      margin-bottom: 30px; }
    .detail tbody .text {
      max-width: 600px;
      margin-bottom: 30px; }

.ellipsis {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: normal;
  line-height: 1.2em;
  height: 1.2em;
  /*1.2*라인수 */
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: unset; }
